.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .navbar_navlist {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
  }
  
  .navbar_navlist button {
    background: transparent;
    border: none;
    text-decoration: none;
    padding: 0.5rem;
  }
  
  .navbar_navlist button a {
    text-decoration: none;
    color: #f14d54;
    color: var(--color-quaternary);
    font-size: 20px;
    font-family: Roboto;
    padding: 1rem;
  }
  
  .navbar_navlist .cart {
    border: 2px solid var(--color-tertiary);
    padding: 0.5rem 0;
    border-radius: 5px;
  }
  .navbar_navlist button a:hover {
    /* text-decoration: underline; */
    transform: scaleX(100%);
    transition: scale(50%);
  }
  
  .navbar_navlist button::before {
    content: "";
    display: none;
  }
  
  /* When the anchor tag inside the button is hovered, show and animate the ::before pseudo-element */
  .navbar_navlist button:hover::after {
    display: block;
    content: "";
    width: 0;
    height: 2px;
    background-color: white;
    transform-origin: 0%;
    animation: growWidth 1s forwards;
  }
  
  /* Animation keyframes to grow the width from 0 to 100px */
  @keyframes growWidth {
    to {
      width: 100%;
    }
  }